.open-sans-primary {
    font-family: "Open Sans", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
}
.my_name{
    font-weight: 600;
    font-size: 45px;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 200px;
}
span{
    color: #FD6E0A;
}
nav ul{
    display: flex;
    align-items: center;
}
nav ul li{
    list-style: none;
    font-size: 20px;
    margin-right: 50px;
}
.btn_primary{
    background-color: #FD6E0A;
    color: white;
    padding: 18px 36px;
    border: none ;
    border-radius: 5px;
    font-size: 20px;
}
/* secondary style */
.dark2{
    color: #474747;
}
.heading_style{
    font-weight: bold;
    font-size: 35px;
    color: #181818;
    margin-top: 2px;
}
.paragraph_style{
    font-weight: 200;
    font-size: 18px;
    color: #757575;
}
nav ul li a{
    text-decoration: none;
    
}
/* banner style */
.header{
    background-image: url(../images/developer.png) , url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: top left, bottom right;
}
.banner{
    display: flex;
    justify-content: space-between;
    margin: 0 35px 0 200px;
}
.banner_greeting{
    font-size: 45px;
    font-weight: 600;
}
.banner_title{
    font-size: 85px;
    font-weight: 400;
}
.banner_p{
    font-size: 18px;
    font-weight: 200;
}
.banner_image{
    max-width: 584px;

}
main{
    max-width: 1140px;
    margin: 0 auto;

}
.secondary_bg{
    background-color: #FFF8F3;
    margin-top: 130px;
    text-align: center;
    padding: 130px 156px ;

}
.about_items{
    display: flex;
    justify-content: space-between;
}
.item_description{
    font-size: 20px;
    font: weight 400px;
    margin-top: 5px;
}
.interner_bg{
    background-color: white;
    border: 1px solid black;
}